* {
  background-color: black;
}

.Number {
  margin: 10px;
  text-align: center;
  top: 50%;
  left: 50%;

  background-color: greenyellow;
}
.btn {
  color: cornsilk;
  background-color: rgb(255, 0, 51);

  position: relative;
  align-items: center;
  top: 50%;
  left: 50%;
  margin: 10px;
  padding: 10px 15px;
  justify-content: center;
  border-radius: 20px;
}
