* {
  margin: 0;
  padding: 0.2rem;
  box-sizing: border-box;
}
body {
  background-color: rgb(185, 255, 232);
  font-family: "Anaheim";
  font-size: 1.2em;

  padding: 0.5rem;
  border: 1px solid rgb(0, 0, 0);
  margin: 1rem auto;
  border-radius: 1rem;
  width: fit-content;
  height: fit-content;
}
#main {
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 1rem;
}
#heading1 {
  text-align: center;
}
#personal_details {
  border-radius: 1rem;
}
.checkbox_div {
  margin: 1px 0px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 1rem;
}
.select_div {
  margin: 1px 0px;
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 1rem;
}
.Essay {
  border: 1px solid rgba(17, 17, 17, 0.2);
  border-radius: 1rem;
}

#submit {
  margin: 1px auto;
  display: block;
  text-align: center;
}
.Footer {
  text-align: center;
  margin-top: 7px;
  border-top: 1px solid rgba(17, 17, 17, 0.2);
}
