.List {
  text-align: center;
  list-style: none;
  margin: 1rem;
  border: 3px solid rgb(147, 147, 247);
}
.Image {
  margin: 0.5rem;
}
.comment {
  text-align: center;
}
.Container1,
.Comments {
  display: flex;
  justify-content: center;
}
.Comments {
  justify-content: space-evenly;
}
